<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Bekräfta borttagning av mottagare</h4>
            </div>
            <div class="modal-body">
                <p>Du är på väg att ta bort <b><i class="title"></i></b> som mottagare. Detta går inte att ångra. </p>
                <p>Vill du fortsätta?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nej</button>
                <button type="button" class="btn btn-danger btn-ok">Radera</button>
            </div>
        </div>
    </div>
</div>